h1{
    padding: 20px;
}
.meet{
    padding-left: 20px;
    padding-bottom: 10px;
    margin: 15px;
}
p{
    font-size: larger;
}
#m1{
       
    border-left: 5px solid red;
}
#m2{
    border-left: 5px solid green;
}

.right{
    justify-content: end;
}
.right p{
        font-size: 15px;
}
